.notfound {
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.notfound-txt {
    font-size: 50px;
    color: black;
}

.notfound-inner {
    background-image: url(../img/top_left_l.png);
    width: 182px;
    height: 384px;
    background-repeat: no-repeat;
}

