.chapter {
    display: flex;
    flex-direction: column;
    // border: 2px solid grey;
    margin-top: 10vh;
    // padding-top: 5vh;
    width: 70vw;
    height: 70vh;
    overflow: auto;
    z-index: 5;
    background-color: rgba(245, 245, 245, .5);
    // position: absolute
}

.back-btn {
    position: fixed;
    top: 2vh;
    left: 3vw;
    @include basic-btn;
    background: $lila;
    letter-spacing: 1px;
    // margin-bottom: 5px;
}

.paragraph {
    padding-top: 1vh;
    font-size: 15px;
    line-height: 20px;
}
.par1 {
    font-weight: bold;
    font-size: 17px;
    padding: 15px 0 1vh;
}
.par2 {
    // font-style: italic;
    font-size: 16px;
}