.final-page {
    
}

.final {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.for-the-loose {
    background-image: url(../img/ftl_s.png);
}

.bottom-pic {
    position: absolute;
    bottom: 0;
    background-size: cover;
}
.pic-loose {
    background-image: url(../img/ftl_pic_s.png);
    width: 270px;
    height: 215px;
}