//basic general settings
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
$font: 'Roboto', sans-serif;

// defining color
$lila: rgb(112, 34, 131);

//basic class settings
* {
    padding: 5px;
    margin: 5px;
    transform: .5s;
}

body {
    font-family: $font;
}

.hidden {
    display: none;
}

